<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="admin.html" />
  <head>
    <title>Revoke A Cookie</title>
  </head>
  <body>
    <h2>Revoke A Cookie</h2>
    <form class="mod" id="modbasic" method="post" action="">
      <div class="field">
        <label>Username:<br />
          <input type="text" name="user" value="" />
        </label>
      </div>
      <div class="buttons">
        <input type="submit" value="Revoke" />
      </div>
    </form>
  </body>
</html>
